@import '../../../../../variables.scss';
.title {
  height: $navbar-height;
  display: flex;
  align-items: center;
  padding: 5px;
}

.menu {
  width: 40px;
  height: 2px;
  background-color: $contrast-color;
  margin: 12px 0;
}

.menu:nth-of-type(2) {
  background-color: $main-color;
}

.hamburguer {
  margin-left: 10px;
}

h1 {
  margin-left: 15px;
}
