@import '../../../../variables.scss';
.navbar {
  height: 100vh;
  background-color: $navbar-background-color;
  color: $contrast-color;
}

@media #{$small-and-down} {
  .navbar {
    position: fixed;
    visibility: hidden;
  }
}
