@import '../../../../../variables.scss';

.navItem {
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid $contrast-color;
  cursor: pointer;
}

.navItem:last-of-type {
  border-bottom: 1px solid $contrast-color;
}

.icon {
  margin-left: 15px;
  height: 80%;
  width: 30px;
}

svg {
  fill: $contrast-color;
}

h3 {
  margin-left: 10px;
}
